<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Randeck</title>
    <link href="images/favicon.ico" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="css/loading-bar.css">
    <link rel="stylesheet" href="css/styles.css">


    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="bower_components/angular-messages/angular-messages.min.js"></script>
    <script src="bower_components/angular-material/angular-material.min.js"></script>
    <script src='bower_components/angular-loading-bar/build/loading-bar.min.js'></script>
    <script src="js/app.js"></script>
    <script src="js/controllers/MainController.js"></script>
    <script src="js/services/MainService.js"></script>
  </head>
  <body ng-app="randeck">
    <div ng-controller="MainController as vm" ng-cloak>
      <md-toolbar class="md-medium-tall" layout layout-align="center center" flex>
        <div flex="5">
          <md-button ng-click="vm.toggleMenu();" class="md-icon-button" aria-label="toggle menu">
            <md-icon md-svg-src="images/settings.svg"></md-icon>
          </md-button>
        </div>
        <div layout layout-align="center center" flex="90">
          <img src="images/cards.png" alt="logo" class="logo"/>
          <span class="header">Randeck</span>
        </div>
        <div flex="5"></div>
      </md-toolbar>
      <main class="md-padding" layout="row" flex>
        <md-sidenav
          class="md-sidenav-left"
          md-component-id="menu"
          md-disable-backdrop
          md-whiteframe="4"
          class="md-theme-indigo">
          <md-nav-bar>
            <md-toolbar class="no-min-height">
              <md-button class="generate-button" ng-click="vm.generateRandomDeck();" layout layout-align="center center">
                Generate random deck
                <md-icon md-svg-src="images/shuffle.svg"></md-icon>
              </md-button>
            </md-toolbar>
            <md-toolbar class="md-theme-indigo">
              <h2 class="md-toolbar-tools">Rarity</h2>
            </md-toolbar>
            <md-content layout-padding>
              <div layout="column" flex="20" layout-align="center start">
                <div ng-repeat="item in vm.cardsRarity">
                  <md-checkbox ng-class="item | lowercase" ng-checked="vm.exists(item, vm.selectedRarities)" ng-click="vm.toggle(item, vm.selectedRarities)">
                    {{ item }}
                  </md-checkbox>
                </div>
              </div>
            </md-content>
            <md-divider></md-divider>
            <md-toolbar class="md-theme-indigo">
              <h1 class="md-toolbar-tools">Max Arena</h1>
            </md-toolbar>
            <md-content layout-padding>
              <div layout="row" layout-align="start start">
                <md-radio-group ng-model="vm.selectedArena">
                  <md-radio-button
                    ng-repeat="arena in vm.arenas"
                    ng-value="arena.number"
                    aria-label="{{arena.name}}">
                    <span>{{arena.number}} - {{arena.name}}</span>
                  </md-radio-button>
                </md-radio-group>
              </div>
            </md-content>
            <md-divider></md-divider>
            <md-toolbar class="md-theme-indigo">
              <h1 class="md-toolbar-tools">Card types</h1>
            </md-toolbar>
            <md-content layout-padding>
              <md-slider-container ng-hide="vm.randomCardTypes">
                <div layout layout-align="start center">
                  <md-slider md-discrete ng-model="vm.troops" min="0" max="8" flex="60" aria-label="troops"></md-slider>
                  <span flex="30"> {{ vm.troops }} Troops</span>
                </div>
              </md-slider-container>
              <md-slider-container ng-hide="vm.randomCardTypes">
                <div layout layout-align="start center">
                  <md-slider md-discrete ng-model="vm.spells" min="0" max="8" flex="60" aria-label="spells"></md-slider>
                  <span flex="30">{{ vm.spells }} Spells</span>
                </div>
              </md-slider-container>
              <md-slider-container ng-hide="vm.randomCardTypes">
                <div layout layout-align="start center">
                  <md-slider md-discrete ng-model="vm.buildings" min="0" max="8" flex="60" aria-label="buildings"></md-slider>
                  <span flex="30"> {{ vm.buildings }} Buildings</span>
                </div>
              </md-slider-container>
              <md-checkbox ng-model="vm.randomCardTypes">
                Random Card Types
              </md-checkbox>
            </md-content>
          </md-nav-bar>
        </md-sidenav>
        <div layout="column" flex>
          <div flex="5"></div>
          <div layout layout-align="center center" layout-wrap class="box" flex>
            <div flex-gt-sm="20" flex-sm="0" flex-xs="0"></div>
            <div flex flex-sm="80" layout layout-align="center center" layout-wrap>
              <div flex="25" class="card-container" layout layout-align="space-around center" ng-repeat="card in vm.randomDeck">
                <img ng-src="http://www.clashapi.xyz/images/cards/{{card.idName}}.png" alt="{{card.name}}" class="card"/>
              </div>
            </div>
            <div flex-gt-sm="20" flex-sm="0" flex-xs="0"></div>
          </div>
          <div class="box" flex="15" layout layout-align="center center">
            <span class="elixir-cost">Average Elixir Cost {{vm.averageCost}}</span>
          </div>
          <div class="box" flex="15" layout layout-align="center center">
            <md-button class="generate-button" ng-click="vm.generateRandomDeck();" layout layout-align="center center">
              Generate random deck
              <md-icon md-svg-src="images/shuffle.svg"></md-icon>
            </md-button>
          </div>
          <div flex="5"></div>
        </div>
      </main>
      <md-toolbar class="md-medium-tall">
        <div layout="row" layout-align="center center" flex class="footer">
          <span>
            Made with <md-icon md-svg-src="images/heart.svg"></md-icon> by <a href="http://www.martincarrera.xyz">Martin Carrera</a>, powered by <a href="https://github.com/martincarrera/clash-royale-api">Clashapi</a>
          </span>
        </div>
      </md-toolbar>
    </div>
  </body>
</html>
